@inject HttpClient Http

<ul class="list-unstyled">
	@foreach (var driver in Drivers)
	{
		<li class="media my-3">
			<div class="media-img-wrapper mr-2">
				<a href="#">
					<img style="width:300px" class="media-img" src="@driver.ImageUrl" alt="@driver.Name" />
				</a>
			</div>
			<div class="media-body">
				<a href="#">
					<h4 class="mb-0">@driver.Name</h4>
				</a>
				<p>@driver.Team</p>
				<h5 class="price">
					No.@driver.Number
				</h5>
			</div>
		</li>
	}
</ul>

@code {
	private static List<Driver> Drivers = new List<Driver>();

	protected override async Task OnInitializedAsync()
	{
		var result = await Http.GetFromJsonAsync<List<Driver>>("api/Drivers");
		if (result != null)
			Drivers = result;
	}
}
