<ul class="list-unstyled">
	@foreach (var product in Products)
	{
		<li class="media my-3">
			<div class="media-img-wrapper mr-2">
				<a href="#">
					<img style="width:300px" class="media-img" src="@product.ImageUrl" alt="@product.Title"/>
				</a>
			</div>
			<div class="media-body">
				<a href="#">
					<h4 class="mb-0">@product.Title</h4>
				</a>
				<p>@product.Description</p>
				<h5 class="price">
					No.@product.Price
				</h5>
			</div>
		</li>
	}
</ul>

@code {
	private static List<Product> Products = new List<Product>
	{
		new Product
		{
			Id=1,Title="Charles Leclerc",Description="Born in the Mediterranean idyll of Monaco, Leclerc arrived in F1 on a tidal wave of expectation. ",
			ImageUrl="https://media.formula1.com/content/dam/fom-website/drivers/2023Drivers/leclerc.jpg.img.1920.medium.jpg/1677069223130.jpg",Price=16
		},
		new Product
		{
			Id=2,Title="Carlos Sainz",Description="He’s the matador from Madrid racing royalty. ",
			ImageUrl="https://media.formula1.com/content/dam/fom-website/drivers/2023Drivers/sainz.jpg.img.1920.medium.jpg/1677069189406.jpg",Price=55
		},
		new Product
		{
			Id=3,Title="Max Verstappen",Description="He’s Max by name, and max by nature. ",
			ImageUrl="https://media.formula1.com/content/dam/fom-website/drivers/2023Drivers/verstappen.jpg.img.1920.medium.jpg/1677069646195.jpg",Price=1
		},
	};
}
